@media screen and (max-width: 1023px) {
    .overflow {
        overflow: hidden;
    }
    .hide{
        display:none;
    }

    header {
        display: none;
    }

    div#respo-header {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 1px;
    }

    div#menu-bar {
        display: block;
        background-color: rgb(0, 0, 0, 0.7);
        position: relative;
        z-index: 910;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100vh;
        overflow: auto;
    }

    div#bar {
        position: relative;
        height: 60px;
        text-align: center;
        background-color: black;
    }

    div#bar > #logo > span {
        margin-left: 0px;
    }

    div#menu-icon2 {
        position: absolute;
        right: 30px;
        top: 20px;
    }
    div#respo-menu {
        display: none;
        height: 100vh;
    }
    i.togbtn {
        transition: 0.5s;
        font-size: 50px;
        float: right;
        position: absolute;
        top: 70px;
        right: 10px;
        opacity: 0.3;
    }
    .togbtn.roll {
        transform: rotate(180deg);
        opacity: 1;
    }
    #tog-menu1, #tog-menu2 {
        display: none;
        margin: auto;
    }
    #tog-menu1{
        max-width: 600px;
    }
    ul#tog-menu1 li {
        position: relative;
        margin-top:10px;
    }
    ul#tog-menu1 span {
        position: absolute;
        top: 80px;
    }
    ul#tog-menu2 li {
        width: 100%;
        background-color: #1f1f1f;
        height: 70px;
        display: inline-block;
        line-height: 70px;
    }
     ul#tog-menu2 a {
        display: inline-block;
        width: 100%;
        border-bottom: #ccc 1px solid;
        height: 70px;
        padding: 0px 60px;
        box-sizing: border-box;
     }
    ul#respo-list>li {
        width: 75%;
        position: relative;
        margin: 10px auto;
    }
    ul#respo-list li {
        /* line-height: 200px; */
        /* text-align: center; */
        color: white;
        font-size: 22px;
    }
    ul#respo-list a {
        color: white;
    }
    .list-main img {
        max-width: 100%;
        display: block;
    }
    .list-main span {
        position: absolute;
        top: 80px;
    }

    ul#sub-icon {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-bottom: 50px;
    }
    ul#sub-icon li{
        padding: 0px 25px;
    }
    ul#sub-icon i {
        color: #ccc;
        
    }
    div#new-item img {
        width:100%;
    }
    div#new-item-in{
        width:100%;
        position: relative;
        height: 180px;
        padding: 10px;
    }
    div#member{
        margin-top:50px;
    }

}



@media screen and (max-width: 768px) {
    ul#respo-list li{
        font-size: 16px;
    }
    ul#tog-menu2 li{height: 55px;line-height: 55px;}
    ul#tog-menu2 a{
        height: 55px;
        padding: 0 15px;
    }
    ul#sub-icon{
        font-size:22px
    }
    div#item-in{
        display: block;
    }
    div#item-in section{
        width: 100%;
        margin-bottom: 40px;
    }
    .btn{
        height: 35px;
        line-height: 35px;
    }

    input#email_1{
        border: 2px solid black;
        border-radius: 20px;
        width: 80%;
        display: block;
        margin: 0 auto;
     }
     div#item-in section:nth-child(2){
         margin-left:0px;
         margin-bottom: 40px;
     }
    

    button#entry{
        margin-top:20px;
        border-radius: 20px;
    }
    input#email_1:focus{
        width:90%;

    }
    input#email_1:focus + #entry{
        position: relative;
        transform: none;
    }

    div#support{
        height:auto;
    }
    div#support-in {
        flex-wrap: wrap;
    }
    div#support-in section{
        width:50%;
        padding-bottom: 25px;
    }
    div#footer-in #logo{
        display:none;
    }
    div#footer-list #footer-list-main{
        display: none;
    }
    div#sns{
        width:100%;
    }
    span.list-top {
    display: none;
    }

    #sns-icon li{
        width: 100%;
        text-align: center;
    }
    #header-top{
        display:none;
    }
}

@media screen and (max-width: 568px) {
    div#item h2{
        font-size:24px;
    }
    div#new-item-in h3{
        font-size:24px;
    }
    div#member h2{
        font-size:28px;
    }
    div#new-btn{
        margin-top:20px;
        display: inline-block;
        position: unset;
        text-align: center;
        width: 100%;
    }
    div#new-btn a{
        margin-top:10px;
        display:block;
    }
    input#email_1{
        padding-left: 0px;
        font-size: 13px;
        text-align: center;
    }
    div#support h2{
        font-size:28px;
    }
}
