@media screen and (max-width: 1023px) {
    header{
        display:none;
    }
div#respo-header {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1px;
}
div#menu-bar {
    display: block;
    background-color: black;
    position: relative;
    z-index: 910;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
}
div#bar {
    position: relative;
    height: 60px;
}
div#menu-icon2 {
    position: absolute;
    right: 30px;
    top: 20px;
}
    }


}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 568px) {

}
