@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}

header {
    background: black;
    height: 60px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

div#page-in {
    width: 85%;
    margin: auto;
}

div#header-in {
    display: flex;
    max-width: 1000px;
    margin: auto;
    position: relative;
    z-index: 5;
}
div#respo-header {
    display:none;
}

/*----------------ロゴ----------------*/
div#logo {
    font-weight: bold;
}

#logo span {
    padding: 5px 15px;
    font-size: 25px;
    background-color: red;
    border-radius: 25px;
    line-height: 60px;
    margin-left: 20px;
}


/*----------------メニュー----------------*/
header > div > nav > ul > li {
    text-align: center;
    line-height: 60px;
    width: 25%;
}

header > div > nav > ul > li > a {
    color: white;
    font-size: 18px;
}

header > div > nav > ul > li > a:hover {
    border-bottom: 2px solid red;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    margin-left: 70px;
}

/*----------------メニューアイコン----------------*/
div#menu-icon {
    margin: 20px 20px 0;
    cursor: pointer;
}

.line_1,
.line_2,
.line_3 {
    width: 20px;
    height: 3px;
    background-color: white;
    display: block;
    margin-bottom: 5px;
    transition: 0.5s
}

#menu-icon.close .line_1 {
    transform: translateY(10px) rotate(225deg);
}

#menu-icon.close .line_2 {
    opacity: 0;
}

#menu-icon.close .line_3 {
    transform: translateY(-6px) rotate(-45deg);
}

/*----------------サブメニュー----------------*/
div#sub-menu {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    z-index: 4;
    text-align: center;
    font-size: 24px;
}

div#sub-menu li {
    line-height: 50px;
    padding-top: 15px;
}

div#sub-menu li:first-child {
    margin-top: 60px;
}

div#sub-menu a {
    color: white;
    display: inline-block;
    width: 30%;
    font-weight: bold;
    transition: 0.5s;
}

div#sub-menu a:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

#top-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    max-width: 1200px;
    display: block;
    margin: auto;
}

/*----------------おすすめ製品----------------*/
div#item {
    margin-top: 90px;
}

div#item h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
}

div#item-in {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

div#item-in section {
    width: 34%;
    text-align: center;
}

div#item-in section:nth-child(2) {
    margin: 0 20px;
}

div#item-in .btn1 {
    margin-top: 25px;
}

div#item-in section img {
    width: 240px;
    height: 240px;
    display: block;
    margin: auto;
    object-fit: cover;
}

/*----------------ボタン----------------*/
.btn {
    display: inline-block;
    width: 230px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    text-align: center;
    border-radius: 30px;
    outline: none;
    overflow: hidden;
    position: relative;
    z-index: 2;

}

.btn::before,
.btn::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

.btn,
.btn::before,
.btn::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn::after {
    bottom: -100%;
    width: 100%;
    height: 100%;
}

.btn1 {
    background-color: red;
    border: 1px solid red;
    color: white;
}

.btn1:hover {
    color: red;

}

.btn1:hover::after {
    bottom: 0;
    background-color: white;

}

a.btn2 {
    background-color: white;
    border: 1px solid #aaa;
    color: black;

}

.btn2:hover {
    color: white;
}

.btn2:hover::after {
    bottom: 0;
    background-color: black;
}

i.fas.fa-headphones-alt {
    font-size: 21px;
    padding-right: 9px;
}

/*----------------NEWcolor----------------*/
div#new-item {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 180px;
    /* max-width: 900px; */
}

div#new-item img {
    width: 85%;
    height: 100%;
    object-fit: cover;
    max-width: 900px;
}

div#new-item-in {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 500px;
    height: 240px;
    background-color: white;
}

div#new-item-in h3 {
    font-size: 32px;
    margin-top: 30px;
    margin-left: 30px;
}

div#new-btn {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

div#new-btn a {
    width: 190px;
}

/*----------------会員登録----------------*/
div#member {
    /* max-width: 900px; */
    height: 300px;
    background-color: white;
    text-align: center;
    margin: 180px auto;
}

div#member h2 {
    font-size: 45px;
    padding: 50px 0 20px;
}

div#member p {
    margin-bottom: 15px;
}

input#email_1 {
    height: 40px;
    width: 420px;
    margin-right: -6px;
    padding-left: 40px;
    border: 2px solid black;
    border-radius: 20px 0 0 20px;
    font-size: 18px;
    border-right: none;
    transition: 0.6s;
}

button#entry {
    width: 120px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0 20px 20px 0;
    font-size: 18px;
    transition: 0.6s;
    line-height: unset;
}

/*----------------フォーカス色----------------*/
input#email_1:focus {
    border-radius: 20px;
    border-right: 2px solid black;
    width: 545px;
}

input#email_1:focus + #entry {
    border-radius: 20px;
    transform: translate3d(-335px, 60px, 0px);
    position: absolute;
    border: 2px solid red;
}

input#email_1:focus + #entry:hover {
    color: white;
}

input#email_1:focus + #entry:hover::after {
    bottom: 0;
    background-color: red;
}

/*----------------サポート----------------*/
div#support {
    /* max-width: 900px; */
    height: 340px;
    background-color: white;
    margin: 180px auto;
    text-align: center;
}

div#support h2 {
    padding-top: 50px;
    font-size: 32px;
}

div#support-in p {
    margin-top: 10px;
}

div#support-in {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

div#support-in section {
    width: 20%;
    position: relative;
}

div#support-in img {
    width: 85px;
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px;
}

div#support-in img:hover {
    width: 80px;
    top: 5px;
    transition: 0.2s;
}

.back-color {
    background-color: black;
    width: 92px;
    height: 92px;
    border-radius: 51px;
    margin: auto;
}

/*----------------フッター----------------*/
footer {
    background-color: white;
}

div#footer-in {
    max-width: 1000px;
    margin: auto;
    position: relative;
    padding-bottom: 30px;
}

div#footer-in #logo {
    color: white;
    float: left;
    margin: 40px 50px 0 0;
}

div#footer-list {
    display: flex;
    padding-top: 45px;
}

div#footer-list > ul {
    display: flex;
}


ul#footer-list-main {
    width: 70%;
}

ul#footer-list-main .list-top {
    width: 30%;
}

#footer-list-main .list-top > span {
    color: black;
    margin-bottom: 10px;
    display: block;
}

.list-top li {
    margin-bottom: 5px;
}

ul#sns {
    width: 30%;
}

ul#sns-icon {
    display: flex;
    margin-top: 10px;
}

#sns-icon a {
    color: #aaa;
    margin-right: 15px;
    font-size: 22px;
}

#sns-icon a:hover {
    color: black;
}

.a-border {
    display: inline-block;
    position: relative;
    z-index: 2;
}

.a-border::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

.a-border,
.a-border::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.a-border::after {
    bottom: -10%;
    width: 100%;
    height: 2px;
}

.a-border {
    color: #aaa;
}

.a-border:hover {
    color: red;
}

.a-border:hover::after {
    bottom: 0;
    background-color: red;
}

div#header-top {
    position: absolute;
    right: 20px;
    bottom: 30px;
    border: 1px solid #aaa;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}

div#header-top span {
    height: 2px;
    background-color: #aaa;
    width: 20px;
    display: inline-block;
}

span#top-line_1 {
    transform: translateY(8px) translateX(7px) rotate(-43deg);
}

span#top-line_2 {
    transform: translateY(8px) translateX(-5px) rotate(43deg);
}
