@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div#logo {
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
}

/*----------------メニュー----------------*/
li {
    list-style: none;
    width: 25%;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    background: black;
}
nav {
    width: 100%;
}
nav ul {
    display: flex;
}

div#sub-menu {
    display: none;
}

div#item h2 {
    text-align: center;
}

div#item-in {
    display: flex;
    justify-content: center;
}
